#{extends 'main.html' /}
#{set title:'Home' /}


<nav class="ui menu"> 
  <a class="ui active item" href="/home">Home</a>      
  <a class="ui item" href="/members">Members</a>   
  <a class="ui item" href="/profile">Profile</a>   
  <a class="ui item" href="/logout">Logout</a> 
</nav>


<section class="ui blue segment">
  <h2 class="ui header">Spacebook: Home Page for ${user.firstName} ${user.lastName}</h2>
  <div class="ui two column grid segment">
    <div class="ui row">
      <div class="ui column">
       <h2>Friends (${user.friendships.size()})</h2>
        <div class="ui list">
          #{list items:user.friendships, as:'friendship'}
            <div class="item">
              <i class="right triangle icon"></i>
              <div class="content">
              <img class="ui avatar image" src="/profile/getpicture/${friendship.targetUser.id}">
              <span><a href="/publicprofile/${friendship.targetUser.id}"> ${friendship.targetUser.firstName} ${friendship.targetUser.lastName}</a><a href="/home/drop/${friendship.targetUser.id}"> drop </a></span>
              </div>
            </div>
          #{/list}
        </div>
        </div>
        </div>
        </div>
  </section>
  
  
  <table class="ui very basic collapsing celled table">
  <thead>
    <tr><th>Sender</th>
    <th>Subject</th>
    <th>Message</th>
  </tr></thead>
  <tbody>
  #{list items:user.inbox,as:'message'}
    <tr>
      <td>    
        <h4 class="ui image header">
          <div class="content">
            <img class="ui avatar image" src="/profile/getpicture/${message.from.id}"> <a href="/publicprofile/${message.from.id}">${message.from.firstName}  ${message.from.lastName}
        </div>
      </h4></td>
      <td>
        ${message.subject}
      </td>
      <td>
         ${message.messageText}
      </td>
    </tr>
  </tbody>
  #{/list}
</table>


  
