#{extends 'main.html' /}
#{set title:'Members' /}

<nav class="ui menu"> 
  <a class="ui item" href="/home">Home</a>      
  <a class="ui active item" href="/members">Members</a>   
  <a class="ui item" href="/profile">Profile</a>   
  <a class="ui item" href="/login">Logout</a>      
</nav>


<section class="ui segment">

  <table class="ui very basic collapsing celled table">
  <thead>
  <h2 class="ui header">SpaceBook's Members</h2>
    <tr><th>Name</th>
    <th>Status</th>
  </tr></thead>
  <tbody>
  #{list items:users, as:'user'}
    <tr>
      <td>    
        <h4 class="ui image header">
        <i class="right triangle icon"></i>
          <div class="content">
          ${user.firstName} ${user.lastName} <a href="/members/follow/${user.id}"> (follow) </a> 
        </div>
      </h4></td>
      <td>
        ${user.statusText}
      </td>
    </tr>
  </tbody>
  #{/list}
</table>
</section>